
* {
    margin: 0;
    padding: 0;
}

:root {
--Mobile: 375px;
--Desktop: 1440px;
--Moderateviolet: hsl(263, 55%, 52%);
--Verydarkgrayishblue: hsl(217, 19%, 35%);
--Verydarkblackishblue: hsl(219, 29%, 14%);
--White: hsl(0, 0%, 100%);
--Lightgray: hsl(0, 0%, 81%);
--Lightgrayishblue: hsl(210, 46%, 95%);
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    overflow: none;
    width: var(--Desktop);
}

.t-container {
    background-color: var(--Lightgrayishblue);
}

.daniel-c {
    border-radius: 15px;
    width: 800px;
    height: 400px;
    background-color: var(--Moderateviolet);
    color: var(--White);
    font-size: 13px;
}

.daniel-c > h4 {
    line-height: 30px;
    position: relative;
    top: 40px;
    left: 120px;
    opacity: 0.5;
}


.daniel-c > h3 {
    line-height: 30px;
    position: relative;
    top: 40px;
    left: 120px;
}

.daniel-c > h2 {
    line-height: 27px;
    letter-spacing: 1px;
    width: 750px;
    position: relative;
    top: 60px;
    left: 80px;
}


.daniel-c > p {
    line-height: 27px;
    letter-spacing: 1px;
    width: 750px;
    position: relative;
    top: 80px;
    left: 80px;
    opacity: 0.7;
}



#daniel-img {
    position: absolute;
    top: 40px;
    left: 50px;
    border-radius: 50px;
    border: 2px solid white;
}
