
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--Mobile: 375px;
--Desktop: 1440px;
--Moderateviolet: hsl(263, 55%, 52%);
--Verydarkgrayishblue: hsl(217, 19%, 35%);
--Verydarkblackishblue: hsl(219, 29%, 14%);
--White: hsl(0, 0%, 100%);
--Lightgray: hsl(0, 0%, 81%);
--Lightgrayishblue: hsl(210, 46%, 95%);
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    overflow: none;
    width: var(--Desktop);
    background-color: rgb(76, 42, 42);
}

.t-container {
    background-color: var(--Lightgrayishblue);
}

/* Daniel C*/

.daniel-c {
    position: absolute;
    top: 200px;
    left: 100px;
    border-radius: 10px;
    width: 650px;
    height: 300px;
    background-color: var(--Moderateviolet);
    color: var(--White);
    font-size: 13px;
}

#daniel-img {
    position: absolute;
    top: 20px;
    left: 35px;
    border-radius: 50px;
    border: 2px solid white;
}
.daniel-c > h3 {
    line-height: 20px;
    position: relative;
    top: 20px;
    left: 90px;
}

.daniel-c > h4 {
    line-height: 20px;
    position: relative;
    top: 20px;
    left: 90px;
    opacity: 0.5;
}

.daniel-c > h2 {
    line-height: 25px;
    letter-spacing: 2px;
    width: 600px;
    position: relative;
    top: 40px;
    left: 30px;
}


.daniel-c > p {
    line-height: 17px;
    letter-spacing: 1px;
    width: 600px;
    position: relative;
    top: 65px;
    left: 30px;
    opacity: 0.7;
}



/* Jonathan W */

.jonathan-w {
    position: absolute;
    top: 200px;
    left: 750px;
  border-radius: 10px;
  width: 280px;
  height: 330px;
  background-color: var(--Verydarkgrayishblue);
  color: var(--White);
  font-size: 13px;
}

.jonathan-w img {
    border-radius: 50px;
    border: 2px solid white;
    position: relative;
    top: 30px;
    left: 30px;
}

.jonathan-w > h3 {
    position: relative;
    top: -15px;
    left: 80px;
}

.jonathan-w > h4 {
    position: relative;
    top: -10px;
    left: 80px;
    opacity: 0.5;
}

.jonathan-w > h2 {
    width: 200px;
    position: relative;
    top: 15px;
    left: 30px;
    letter-spacing: 1px;
}
.jonathan-w > p {
    width: 210px;
    position: relative;
    top: 50px;
    left: 30px;
    opacity: 0.7;
}

/* Jeanette Harmon */

.jeanette-h {
    position: absolute;
    top: 500px;
    left: 100px;
  border-radius: 10px;
  width: 280px;
  height: 330px;
  background-color: var(--White);
  color: var(--Verydarkblackishblue);
  font-size: 13px;
}

.jeanette-h img {
    border-radius: 50px;
    border: 2px solid white;
    position: relative;
    top: 30px;
    left: 30px;
}

.jeanette-h > h3 {
    position: relative;
    top: -15px;
    left: 80px;
}

.jeanette-h > h4 {
    position: relative;
    top: -10px;
    left: 80px;
    opacity: 0.5;
}

.jeanette-h > h2 {
    width: 200px;
    position: relative;
    top: 15px;
    left: 30px;
    letter-spacing: 1px;
}
.jeanette-h > p {
    width: 210px;
    position: relative;
    top: 50px;
    left: 30px;
    opacity: 0.7;
}

/* Patrick A */

.patrick-a {
    position: absolute;
    top: 500px;
    left: 380px;
    border-radius: 10px;
    width: 650px;
    height: 300px;
    background-color: var(--Verydarkblackishblue);
    color: var(--White);
    font-size: 13px;
}

.patrick-a img {
    position: absolute;
    top: 20px;
    left: 35px;
    border-radius: 50px;
    border: 2px solid white;
}

.patrick-a > h3 {
    line-height: 20px;
    position: relative;
    top: 20px;
    left: 90px;
}

.patrick-a > h4 {
    line-height: 20px;
    position: relative;
    top: 20px;
    left: 90px;
    opacity: 0.5;
}

.patrick-a > h2 {
    line-height: 25px;
    letter-spacing: 2px;
    width: 600px;
    position: relative;
    top: 40px;
    left: 30px;
}


.patrick-a > p {
    line-height: 17px;
    letter-spacing: 1px;
    width: 600px;
    position: relative;
    top: 65px;
    left: 30px;
    opacity: 0.7;
}

/* Kira W */

.kira-w {
    position: absolute;
    top: 200px;
    left: 1030px;
  border-radius: 10px;
  width: 280px;
  height: 600px;
  background-color: var(--White);
  color: var(--Verydarkblackishblue);
  font-size: 13px;
}

.kira-w img {
    border-radius: 50px;
    border: 2px solid white;
    position: relative;
    top: 30px;
    left: 30px;
}

.kira-w > h3 {
    position: relative;
    top: -15px;
    left: 80px;
}

.kira-w > h4 {
    position: relative;
    top: -10px;
    left: 80px;
    opacity: 0.5;
}

.kira-w > h2 {
    width: 200px;
    position: relative;
    top: 15px;
    left: 30px;
    letter-spacing: 1px;
}
.kira-w > p {
    width: 210px;
    line-height: 20px;
    position: relative;
    top: 50px;
    left: 30px;
    opacity: 0.7;
}